/*
 * beet.css
 * Author: wolftankk@gmail.com
 *
 *
 */

#loading-mask{
	background: #fff;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 20000;
}

#loading{
	height: auto;
	position: absolute;
	left: 45%;
	top:40%;
	padding: 2px;
	z-index:20001;
}

.loading-msg{
	font-size: 11px;
	font-weight: normal;
	display: block;
}

#loading .loading-indicator{
	padding: 10px;
}

header, #header{
	width: 100%;
	padding: 0;
	margin: 0;
}

aside{
	position: absolute;
	width: 360px;
	border: 1px solid #f00;
}

#console-wrapper{
	position: absolute;
	border: 1px solid #0f0;
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	left: 365px;
	width: 890px;
}

.beet-navigationbar{
	padding-left: 5px !important;
}

.beet-navigationbar .x-toolbar {
    background: transparent none;
    border-color: transparent;
}

.beet-navtoolbar{
}
.beet-navtoolbar .x-btn-inner,
.x-nbr .beet-navtoolbar .x-btn-icon-text-left button {
    text-align: left !important;
}

.x-tab-tabmenu-left{
	width: 19px;
	height: 20px;
	cursor: pointer;
	zoom: 1;
	z-index: 6;
	float: left;
	background: url('../../resources/themes/images/tab-scroller-menu.gif') no-repeat 0 0;
}

.x-tab-tabmenu-over {
    background-position: -18px 0;
}
.x-tab-tabmenu-disabled {
    background-position: 0 0;
    opacity:.5;
    -moz-opacity:.5;
    filter:alpha(opacity=50);
    cursor:default;
}
